<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ServletDemo02</display-name>
  <context-param>
  <param-name>address</param-name>
  <param-value>魔都</param-value>
  </context-param>
 <servlet>
 	<servlet-name>
 		Servlet08
 	</servlet-name>
 	<servlet-class>
 		com.hwua.web.servlet.Servlet08
 	</servlet-class>
 	<init-param>
 		<param-name>address</param-name>
 		<param-value>上海</param-value>
 	</init-param>
 	<init-param>
 		<param-name>sex</param-name>
 		<param-value>男</param-value>
 	</init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>
 		Servlet08
 	</servlet-name>
 	<url-pattern>
 		/Servlet08
 	</url-pattern>
 </servlet-mapping>
</web-app>