.left{
    float: left;
}
.container{
    width: 220px;
    border: 1px solid #BDBDBD;
   /* margin: 50px auto;*/
    overflow: hidden;
    margin-bottom: 20px;
}

.container .title{
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0px 8px 8px;
    color: #4D4D4D;
}

.box{
    float: left;
    margin: 10px 0px;
}
.box ul{
    width: 220px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.box .title-img{
    float: left;
}

.box .title-img img{
    border: 1px solid #BDBDBD;
    padding: 3px;
    border-radius: 5px;
}

.box .title-con{
    color: dodgerblue;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.box .desc{
    font-size: 12px;
    color: #BDBDBD;
    height: 20px;
    line-height: 20px;
}

.box li{
    text-indent: 1em;

}