.right{
    width: 860px;
    /*height: 600px;*/
    /*border: 1px solid green;*/
    float: right;
}
.right .box{
    width: 820px;
    height: 135px;
    border: 1px solid #dddddd;
}

.right .box div{
    float: left;
    margin: 8px;
}

.right .box ul{
    float: left;
    width: 500px;
}

.right .box .title{
    font-size: 18px;
    font-weight: bold;
    margin:15px 0px;
}

.right .box .desc{
    font-size: 15px;
    margin:15px 0px;
    color: #8A8A8A;
}

.right .box .time{
    font-size: 13px;

    color: #BDBDBD;
}